*.exe
*.pdb
*.ilk
*.tlog
*.obj
Debug
GeneratedFiles
*.xcf
*.sdf
*.user
*.ipch
*.opensdf
*.suo
.moc
.rcc
/ui
/.qmake.stash
*.pro.user.*
*.opendb
*.log
*.pch
UpgradeLog.htm
Release
Makefile.*
Makefile
/CodeRainbow_resource.rc
/CodeRainbowd_resource.rc
.vs
*.VC.db
/_qtcp/CodeRainbow_resource.rc
/_qtcp/CodeRainbowd_resource.rc
/_qtcp/cr_plugin_resource.rc
/_qtcp/cr_plugind_resource.rc
/_qtcp/ui
/build-cr_plugin-Desktop_Qt_5_10_1_MSVC2015_32bit-Release/ui
/build-cr_plugin-Desktop_Qt_5_10_1_MSVC2015_32bit-Release
/_qtcp/.qmake.stash
/_qtcp/*.opendb
